{% extends "admin_base_site.html" %}

{% block title %} Quản lý giảng viên {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
  {% include 'lecturer/alert.html' %}
  {% include 'lecturer/lecturer_delete_confirm.html' %}
  {% include 'lecturer/lecturer_modals.html' %}
  {% include 'lecturer/lecturer_table.html' %}

{% endblock content %}

{% block javascripts %}
  {{ super() }}

    <script src = {{ url_for('static', filename='vendors/parsleyjs/parsley.min.js') }}></script>
    <script src="/static/enms/commonFunctions.js"></script>

    <script>
        var fields = {{ fields|tojson|safe }}
        var fields_render = {{ fields_render|tojson|safe }}
        var lecturers = JSON.parse({{ lecturers|tojson|safe }})
    </script>
    <script src="{{ url_for('admin_blueprint.static', filename='lecturerManagement.js') }}"></script>

    <script>

    </script>

{% endblock javascripts %}
