<div id="delete_confirm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="color: red">Xác nhận xóa sinh viên?</h4>
      </div>
      <div class="modal-body">
          <div class="form-group" style="color: black">
              <h4 id="cf_full_name"></h4>
              <h4 id="cf_student_code"></h4>
              <h4 id="cf_vnu_email"></h4>
              <h4 id="cf_khoa"></h4>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="doDelete">Xóa</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>