<div id="gen_survey_for_all_confirm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" style="color: orangered">Xác nhận tạo khảo sát cho tất cả các lớp?</h4>
      </div>
      <div class="modal-body">
          <h4 style="color: black">
              Tất cả các lớp chưa có khảo sát sẽ được tạo khảo sát.
          </h4>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" id="do_gen_survey_for_all">Tạo</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>