<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
</head>
<body>

<h1>Tải lên một tệp</h1>

<form class="md-form" action="" method=post enctype=multipart/form-data>
  <div class="file-field">
    <div class="btn btn-primary btn-sm float-left">
      <input type=file name=file><input type=submit value="Tải lên">
    </div>
  </div>
</form>

</body>
</html>
