{% extends "admin_base_site.html" %}

{% block title %} Student Management {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
    <div class="right_col" role="main">
      <!-- begin row -->
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div style="height:80vh;" class="x_content">

              <div class="page-title">
                <div class="title_left">
                  <h3>Tất cả giảng viên</h3>
                </div>
              </div>
              <table id="table" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    {% for field in fields %}
                      <th>{{ field }}</th>
                    {% endfor %}
                    <th style="width: 5%">Edit</th>
                    <th style="width: 5%">Delete</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super() }}

{#   <script src="{{ url_for('admin_blueprint.static', filename='student_management.js') }}"></script>#}
    <script>

    const table = $('#table').DataTable();
    {% for user in users %}
        values = []
        values.push('{{ user.username }}')
        values.push(
        `<button type="button" class="btn btn-info btn-xs">Edit</button>`,
        `<button type="button" class="btn btn-danger btn-xs">Delete</button>`
        );
        const rowNode = table.row.add(values).draw(false).node();
        $(rowNode).attr('id', {{ user.user_id }});

    {% endfor %}
    </script>

{% endblock javascripts %}
